<main class="contact-page">
  <h1>Feel Free To Contact Me</h1>
  <p>Let's Talk!</p>

  <div class="contact-info">
    <p>Email: 
      <a href="mailto:JavaScriptFall2025@gmail.com">Click On Me To Connect!</a>
    </p>
  </div>
</main>