<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href = "/">Home</a>
        <a href = "/about">About</a>
        <a href = "/projects">Projects</a>
        <a href = "/contact">Contact</a>
      </nav>
    </header>
    
    {{{body}}}


    <footer>
      <a href ="https://www.linkedin.com/in/sharon-chrysler-9a2796208/">Linkedin</a>
      <a href ="https://github.com/sharoncr98">GitHub</a>
    </footer>
    
    
    
    
  </body>
</html>
