<main class="projects-page">
  <h1>My Projects</h1>
  <!-- adding 3 clickable pictures with header for projects showcase -->
  <section class="project-gallery">
    <div class="project-item">
      <a href="https://github.com/sharoncr98/Python-Automation" target="_blank">
      <img src="/images/python.png" alt="Project 1">
      </a>
      <h3>Python Automation</h3>
    </div>

    <div class="project-item">
      <a href="https://github.com/sharoncr98/CssFinalProjectFall2024" target="_blank">
      <img src="/images/ecommerce.png" alt="Project 2">
      </a>
      <h3>E-Commerce Website</h3>
    </div>

    <div class="project-item">
      <a href="https://github.com/sharoncr98/ArduinoProject" target="_blank">
      <img src="/images/arduino.png" alt="Project 3">
      </a>
      <h3>Arduino - Door Lock</h3>
    </div>
  </section>
</main>